@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
    --color-dark-bg: #101214;
    --color-dark-secondary: #1d1f21;
    --color-dark-tertiary: #3b3d40;
    --color-stroke-dark: #2d3135;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}